**ring > rsa > verification**

# Module: rsa::verification

## Contents

**Statics**

- [`RSA_PKCS1_1024_8192_SHA1_FOR_LEGACY_USE_ONLY`](#rsa_pkcs1_1024_8192_sha1_for_legacy_use_only) - Verification of signatures using RSA keys of 1024-8192 bits,
- [`RSA_PKCS1_1024_8192_SHA256_FOR_LEGACY_USE_ONLY`](#rsa_pkcs1_1024_8192_sha256_for_legacy_use_only) - Verification of signatures using RSA keys of 1024-8192 bits,
- [`RSA_PKCS1_1024_8192_SHA512_FOR_LEGACY_USE_ONLY`](#rsa_pkcs1_1024_8192_sha512_for_legacy_use_only) - Verification of signatures using RSA keys of 1024-8192 bits,
- [`RSA_PKCS1_2048_8192_SHA1_FOR_LEGACY_USE_ONLY`](#rsa_pkcs1_2048_8192_sha1_for_legacy_use_only) - Verification of signatures using RSA keys of 2048-8192 bits,
- [`RSA_PKCS1_2048_8192_SHA256`](#rsa_pkcs1_2048_8192_sha256) - Verification of signatures using RSA keys of 2048-8192 bits,
- [`RSA_PKCS1_2048_8192_SHA384`](#rsa_pkcs1_2048_8192_sha384) - Verification of signatures using RSA keys of 2048-8192 bits,
- [`RSA_PKCS1_2048_8192_SHA512`](#rsa_pkcs1_2048_8192_sha512) - Verification of signatures using RSA keys of 2048-8192 bits,
- [`RSA_PKCS1_3072_8192_SHA384`](#rsa_pkcs1_3072_8192_sha384) - Verification of signatures using RSA keys of 3072-8192 bits,
- [`RSA_PSS_2048_8192_SHA256`](#rsa_pss_2048_8192_sha256) - Verification of signatures using RSA keys of 2048-8192 bits,
- [`RSA_PSS_2048_8192_SHA384`](#rsa_pss_2048_8192_sha384) - Verification of signatures using RSA keys of 2048-8192 bits,
- [`RSA_PSS_2048_8192_SHA512`](#rsa_pss_2048_8192_sha512) - Verification of signatures using RSA keys of 2048-8192 bits,

---

## ring::rsa::verification::RSA_PKCS1_1024_8192_SHA1_FOR_LEGACY_USE_ONLY

*Static*

Verification of signatures using RSA keys of 1024-8192 bits,
             PKCS#1.5 padding, and SHA-1.

See "`RSA_PKCS1_*` Details" in
             `ring::signature`'s module-level documentation for more details.

Only available in `alloc` mode.

```rust
static RSA_PKCS1_1024_8192_SHA1_FOR_LEGACY_USE_ONLY: RsaParameters
```



## ring::rsa::verification::RSA_PKCS1_1024_8192_SHA256_FOR_LEGACY_USE_ONLY

*Static*

Verification of signatures using RSA keys of 1024-8192 bits,
             PKCS#1.5 padding, and SHA-256.

See "`RSA_PKCS1_*` Details" in
             `ring::signature`'s module-level documentation for more details.

Only available in `alloc` mode.

```rust
static RSA_PKCS1_1024_8192_SHA256_FOR_LEGACY_USE_ONLY: RsaParameters
```



## ring::rsa::verification::RSA_PKCS1_1024_8192_SHA512_FOR_LEGACY_USE_ONLY

*Static*

Verification of signatures using RSA keys of 1024-8192 bits,
             PKCS#1.5 padding, and SHA-512.

See "`RSA_PKCS1_*` Details" in
             `ring::signature`'s module-level documentation for more details.

Only available in `alloc` mode.

```rust
static RSA_PKCS1_1024_8192_SHA512_FOR_LEGACY_USE_ONLY: RsaParameters
```



## ring::rsa::verification::RSA_PKCS1_2048_8192_SHA1_FOR_LEGACY_USE_ONLY

*Static*

Verification of signatures using RSA keys of 2048-8192 bits,
             PKCS#1.5 padding, and SHA-1.

See "`RSA_PKCS1_*` Details" in
             `ring::signature`'s module-level documentation for more details.

Only available in `alloc` mode.

```rust
static RSA_PKCS1_2048_8192_SHA1_FOR_LEGACY_USE_ONLY: RsaParameters
```



## ring::rsa::verification::RSA_PKCS1_2048_8192_SHA256

*Static*

Verification of signatures using RSA keys of 2048-8192 bits,
             PKCS#1.5 padding, and SHA-256.

See "`RSA_PKCS1_*` Details" in
             `ring::signature`'s module-level documentation for more details.

Only available in `alloc` mode.

```rust
static RSA_PKCS1_2048_8192_SHA256: RsaParameters
```



## ring::rsa::verification::RSA_PKCS1_2048_8192_SHA384

*Static*

Verification of signatures using RSA keys of 2048-8192 bits,
             PKCS#1.5 padding, and SHA-384.

See "`RSA_PKCS1_*` Details" in
             `ring::signature`'s module-level documentation for more details.

Only available in `alloc` mode.

```rust
static RSA_PKCS1_2048_8192_SHA384: RsaParameters
```



## ring::rsa::verification::RSA_PKCS1_2048_8192_SHA512

*Static*

Verification of signatures using RSA keys of 2048-8192 bits,
             PKCS#1.5 padding, and SHA-512.

See "`RSA_PKCS1_*` Details" in
             `ring::signature`'s module-level documentation for more details.

Only available in `alloc` mode.

```rust
static RSA_PKCS1_2048_8192_SHA512: RsaParameters
```



## ring::rsa::verification::RSA_PKCS1_3072_8192_SHA384

*Static*

Verification of signatures using RSA keys of 3072-8192 bits,
             PKCS#1.5 padding, and SHA-384.

See "`RSA_PKCS1_*` Details" in
             `ring::signature`'s module-level documentation for more details.

Only available in `alloc` mode.

```rust
static RSA_PKCS1_3072_8192_SHA384: RsaParameters
```



## ring::rsa::verification::RSA_PSS_2048_8192_SHA256

*Static*

Verification of signatures using RSA keys of 2048-8192 bits,
             PSS padding, and SHA-256.

See "`RSA_PSS_*` Details" in
             `ring::signature`'s module-level documentation for more details.

Only available in `alloc` mode.

```rust
static RSA_PSS_2048_8192_SHA256: RsaParameters
```



## ring::rsa::verification::RSA_PSS_2048_8192_SHA384

*Static*

Verification of signatures using RSA keys of 2048-8192 bits,
             PSS padding, and SHA-384.

See "`RSA_PSS_*` Details" in
             `ring::signature`'s module-level documentation for more details.

Only available in `alloc` mode.

```rust
static RSA_PSS_2048_8192_SHA384: RsaParameters
```



## ring::rsa::verification::RSA_PSS_2048_8192_SHA512

*Static*

Verification of signatures using RSA keys of 2048-8192 bits,
             PSS padding, and SHA-512.

See "`RSA_PSS_*` Details" in
             `ring::signature`'s module-level documentation for more details.

Only available in `alloc` mode.

```rust
static RSA_PSS_2048_8192_SHA512: RsaParameters
```



